@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lalezar";
  src: url("../fonts/lalezar/Lalezar-Regular.ttf") format("truetype"),
    url("../fonts/lalezar/Lalezar-Regular.woff") format("woff"),
    url("../fonts/lalezar/Lalezar-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "pinar";
  src: url("../fonts/Pinar-DS1/Pinar-DS1.ttf") format("truetype");
}

@font-face {
  font-family: "iransans";
  src: url("../fonts/Iransans/Iransans/IRANSansWeb_Medium.ttf") format("truetype"),
    url("../fonts/Iransans/Iransans/IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/Iransans/Iransans/IRANSansWeb_Medium.woff2") format("woff2");
}

html {
  direction: rtl;
  font-family: iransans;
}

.logo{
    font-family: pinar;
}

.title{
    font-family: lalezar;
}

.shadow{
  box-shadow: 0px 0px 10px #0066FF;
}
